.btns1{
    display: block;
    justify-content: center;
    align-items: center;
    padding:0 120px;
    overflow: scroll;
    font-family:'Cairo', sans-serif;
}
.contain{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    height: 500px;
    width: 700px;
    background: #eeeeee;
    border-radius: 20px 20px 60px 60px;
    overflow: hidden;
}
.img0{
    margin: 20px 20px 20px 600px ;
    background: white;
    border: 0;
    height: 200px;
    width: 95%;
    background: url(https://drive.google.com/uc?export=view&id=1gJ_GNbNNM5FZHtTvWuvKCvtple-AYozg) no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
}
.titlecont{
    font-size: 45px;
    font-weight: bold;
    color: #009578;
    padding-right: 5%;
}
.infocont{
    font-size: 35px;
    padding-right: 3%;
}
.contain2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    height: 500px;
    width: 700px;
    background: #eeeeee;
    border-radius: 20px 20px 60px 60px;
    overflow: hidden;
    margin-top: 20px;
}
.img1{
    margin: 20px 20px 20px 600px ;
    background: white;
    border: 0;
    height: 200px;
    width: 95%;
    background: url(https://drive.google.com/uc?export=view&id=12M5sfnbhpu_Dn33y-zyxDj5dekyAbtIh) no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
}
.titlecont2{
    font-size: 45px;
    font-weight: bold;
    color: #009578;
    padding-right: 5%;
}
.infocont2{
    font-size: 35px;
    padding-right: 3%;
}
.adsl{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 110px;
   width: 100%;
   background: #009578;
   border: 0;
}
 .adsl_name{
    font-size: 45px;
    font-weight: bold;
    /* padding-right: 160px;
    padding-left: 100px; */
    color: white;
    font-family:'Cairo', sans-serif;
}
.mobile{
    display: flex;
   justify-content: center;
   align-items: center;
   height: 110px;
   width: 100%;
   background: #009578;
   border: 0;
}
.mobile_name{
    font-size: 45px;
    font-weight: bold;
    color: white;
    font-family:'Cairo', sans-serif;
}
.contain3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    height: 500px;
    width: 700px;
    background: #eeeeee;
    border-radius: 20px 20px 60px 60px;
    overflow: hidden;
    margin-top: 20px;
}
.img2{
    margin: 20px 20px 20px 600px ;
    background: white;
    border: 0;
    height: 200px;
    width: 95%;
    background: url(https://drive.google.com/uc?export=view&id=1Ol3pBAb_JOlmDTeJetzfr3gvXv5yiEhl) no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
}
.titlecont3{
    font-size: 45px;
    font-weight: bold;
    color: #009578;
    padding-right: 5%;
}
.infocont3{
    font-size: 35px;
    padding-right: 3%;
}

.post{
    display: flex;
   justify-content: center;
   align-items: center;
   height: 110px;
   width: 100%;
   background: #009578;
   border: 0;
}
.post_name{
    font-size: 45px;
    font-weight: bold;
    color: white;
    font-family:'Cairo', sans-serif;
}

.contain4{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    height: 500px;
    width: 700px;
    background: #eeeeee;
    border-radius: 20px 20px 60px 60px;
    overflow: hidden;
    margin-top: 20px;
}
.img3{
    margin: 20px 20px 20px 600px ;
    background: white;
    border: 0;
    height: 200px;
    width: 95%;
    background: url(https://drive.google.com/uc?export=view&id=1iVUSQyPyKnTYclVQnYk1U4DmXOzjVk8H) no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
}
.titlecont4{
    font-size: 45px;
    font-weight: bold;
    color: #009578;
    padding-right: 5%;
}
.infocont4{
    font-size: 35px;
    padding-right: 3%;
}

.epy{
    display: flex;
   justify-content: center;
   align-items: center;
   height: 110px;
   width: 100%;
   background: #009578;
   border: 0;
}
.epy_name{
    font-size: 45px;
    font-weight: bold;
    color: white;
    font-family:'Cairo', sans-serif;
}

.contain5{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    height: 500px;
    width: 700px;
    background: #eeeeee;
    border-radius: 20px 20px 60px 60px;
    overflow: hidden;
    margin-top: 20px;
}
.img4{
    margin: 20px 20px 20px 600px ;
    background: white;
    border: 0;
    height: 200px;
    width: 95%;
    background: url(https://drive.google.com/uc?export=view&id=1IhsyrnMQZa_6w3nkXVnxbbQTdAAwVRzD) no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
}
.titlecont5{
    font-size: 45px;
    font-weight: bold;
    color: #009578;
    padding-right: 5%;
}
.infocont5{
    font-size: 35px;
    padding-right: 3%;
}

.offer{
    display: flex;
   justify-content: center;
   align-items: center;
   height: 110px;
   width: 100%;
   background: #009578;
   border: 0;
}
.offer_name{
    font-size: 45px;
    font-weight: bold;
    color: white;
    font-family:'Cairo', sans-serif;
}

.services{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 600px;
    padding: 0;
    background-image: linear-gradient(90deg,#009578, #065535);
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}
.services_name{
    padding-right: 100px;
    padding-left: 105px;
    color: white;
}
.services_icon{
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 60px;
    padding-left: 100px;
    background: #00866c;
    color: white;
}
.schedule{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 600px;
    padding: 0;
    background-image: linear-gradient(90deg,#009578, #065535);
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}
.schedule_name{
    padding-right: 100px;
    padding-left: 100px;
    color: white;
}
.schedule_icon{
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 60px;
    padding-left: 100px;
    background: #00866c;
    color: white;
}
.update{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 700px;
    padding: 0;
    background: url(https://drive.google.com/uc?export=view&id=1hdivmlxkUOujcG064IBFm9UVJOk6UXYy);
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
.update_name{
    padding-right: 60px;
    padding-left: 90px;
    color: #c6e2ff;
    font-weight: bold;
    font-size: 60px;
    
}
/* .update_icon{
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 60px;
    padding-left: 100px;
    background: #f1c27d;
    color: white;
} */
.box{
    height: 30%;
    width: 100%;
    background: #008d712f;
    border-radius: 20px;
    overflow: scroll;
}
.msg{
    text-align: right;
    direction: rtl;
    font-family:'Cairo', sans-serif;
    padding: 1%;
    margin: 0;
}
.head{
    text-align: center;
    color: #00866c;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.info1,.info2{
    font-size: 20px;
    font-weight: bold;
}
.btns{
    display: block;
    justify-content: center;
    align-items: center;
    padding:0;
    
}
.space{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 300px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    color: white;
}
.device{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 600px;
    padding: 0;
    background-image: linear-gradient(90deg,#009578, #065535);
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}
.device_name{
    padding-right: 130px;
    padding-left: 100px;
    color: white;
}
.device_icon{
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 60px;
    padding-left: 100px;
    background: #00866c;
    color: white;
}
.land{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 600px;
    padding: 0;
    background-image: linear-gradient(90deg,#009578, #065535);
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}
.land_name{
    padding-right: 95px;
    padding-left: 100px;
    color: white;
    white-space: nowrap;
}
.land_icon{
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 60px;
    padding-left: 100px;
    background: #00866c;
    color: white;
}
.pay{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 600px;
    padding: 0;
    background-image: linear-gradient(90deg,#009578, #065535);
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}
.pay_name{
    padding-right: 135px;
    padding-left: 100px;
    color: white;
    white-space: nowrap;
}
.pay_icon{
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 60px;
    padding-left: 100px;
    background: #00866c;
    color: white;
}

.space{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 300px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.level{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 300px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    color: white;
}
.life{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 300px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    color: white;
}
.game{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 300px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    color: white;
}
.bonus{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 300px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    color: white;
}
.articals{
    font-family:'Cairo', sans-serif;
}
.all_imgs{
    width: 100%;
}
.space_art,.level_art,.life_art,.game_art,.bonus_art{
    background: #00957718;
    border-radius: 20px;
}
.agd3, .mix, .kix, .tazzbet, .club, .nitro, .ussd, .deposit, .refund, .atp, .dunn, .offer1, .offer2, .serv1, .serv2{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 300px;
    padding: 0;
    background-image: linear-gradient(90deg,#009578, #065535);
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    color: white;
}
.casecont{
    height: 260Px;
    width: 700px;
    background: #eeeeee;
    margin-top: 30px;
    border-radius: 20px;
    overflow: hidden;
    

}
.casebtn{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 750px;
    border: none;
    background-image: linear-gradient(90deg,#009578, #065535);
}
.case_name{
    color: white;
    white-space: nowrap;
    font-size: 60px;
    font-weight: bold;
    margin-right: 60px;
    padding-left: 50px;
    padding-right: 0px;
}
.case_icon{
    display: inline-flex;
    align-items: center;
    background: #00866c;
    height: 260px;
    width: 300px;
    font-size: 80px;
    padding-left: 100px;
    color: white;
}
.shahna{
    background: #eeeeee;
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
}
table, td, th{
    border:0.5px solid #00866c;
}
